<p id="notice"></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_26569" href="/books/26569">Show</a></td>
        <td><a class="edit_26569" href="/books/26569/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_26569" rel="nofollow" data-method="delete" href="/books/26569">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_26570" href="/books/26570">Show</a></td>
        <td><a class="edit_26570" href="/books/26570/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_26570" rel="nofollow" data-method="delete" href="/books/26570">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_26571" href="/books/26571">Show</a></td>
        <td><a class="edit_26571" href="/books/26571/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_26571" rel="nofollow" data-method="delete" href="/books/26571">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_26572" href="/books/26572">Show</a></td>
        <td><a class="edit_26572" href="/books/26572/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_26572" rel="nofollow" data-method="delete" href="/books/26572">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_26573" href="/books/26573">Show</a></td>
        <td><a class="edit_26573" href="/books/26573/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_26573" rel="nofollow" data-method="delete" href="/books/26573">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_26574" href="/books/26574">Show</a></td>
        <td><a class="edit_26574" href="/books/26574/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_26574" rel="nofollow" data-method="delete" href="/books/26574">Destroy</a></td>
      </tr>
      <tr>
        <td>データベース実践入門</td>
        <td>効率的なSQL文を教えてくれます</td>
        <td><a class="show_26575" href="/books/26575">Show</a></td>
        <td><a class="edit_26575" href="/books/26575/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_26575" rel="nofollow" data-method="delete" href="/books/26575">Destroy</a></td>
      </tr>
      <tr>
        <td>練習</td>
        <td>練習</td>
        <td><a class="show_26577" href="/books/26577">Show</a></td>
        <td><a class="edit_26577" href="/books/26577/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_26577" rel="nofollow" data-method="delete" href="/books/26577">Destroy</a></td>
      </tr>
  </tbody>
</table>


<h2>New book</h2>
<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="BvhXVnchOoXjU/nMgtEbzhLIygjDjBbmVtWeRpMANuF4tEQNwNshI2T9vwvVBvRQ9xdF3svkIdI5SPjQXG+Htg==" />

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title" />
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body">
</textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book" />
  </div>
</form>